@import 'styles/core/variables.scss';

:host {
    display: contents;
}

::ng-deep li {
    a {
        color: #4a555a !important;
        font-weight: 600;
    }
}

a.nav-link {
    cursor: pointer;
}

.card-deck :host {
    -webkit-box-flex: 1;
            flex: 1 0 0%;
    margin-right: 0.75rem;
    margin-bottom: 0;
    margin-left: 0.75rem;
  }

  .disabled {
    pointer-events:none;
    opacity:0.6;
}
