<div class='container-xl px-4 mt-4'>
    <div class='col-12 card mb-4'>
        <div class='card-header w-100'>
            <a (click)="returnToPreviousScreen.emit()">
                <svg class='icon text-black back-arrow mr-2' aria-hidden='true' width='24' height='24'>
                    <use xlink:href='assets/icons/sprite/prisma-icons.symbol.svg#arrow-previous'></use>
                </svg> </a>
            <span class="">Request Summary</span>
        </div>
        <div class='card-body'>
            <div class='row mb-3'>
                <div class='col-md-5'>
                    <div class='d-flex justify-content-between'>
                        <div class='text-black-75 fw-bold small'>Store ID:</div>
                        <div
                            class='text-black small fw-bold justify-content-end'>{{stockRequestSummary?.origin_outlet_store_id}}</div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
                <div class='col-md-5'>
                    <div class='d-flex justify-content-between'>
                        <div class='text-black-75 fw-bold small'>Request Status:</div>
                        <div
                            class='text-black small fw-bold justify-content-end'>{{stockRequestSummary?.status}}</div>
                    </div>
                </div>
            </div>
            <div class='row mb-3'>
                <div class='col-md-5'>
                    <div class='d-flex justify-content-between'>
                        <div class='text-black-75 fw-bold small'>Store Name:</div>
                        <div
                            class='text-black small fw-bold justify-content-end'>{{stockRequestSummary?.origin_outlet_name}}</div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
                <div class='col-md-5'>
                    <div class='d-flex justify-content-between'>
                        <div class='text-black-75 fw-bold small'>Request Date:</div>
                        <div
                            class='text-black small fw-bold justify-content-end'>{{stockRequestSummary?.create_date}}</div>
                    </div>
                </div>
            </div>
            <div class='row mb-3'>
                <div class='col-md-5'>
                    <div class='d-flex justify-content-between'>
                        <div class='text-black-75 fw-bold small'>Request ID:</div>
                        <div
                            class='text-black small fw-bold justify-content-end'>{{stockRequestSummary?.request_id}}</div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <hr>
            <sbpro-card [classes]="['']">
                <div class="card-header">
                    Request From: Other Store
                </div>
                <div class="card-body">
                    <div class='row mb-3'>
                        <div class='col-md-5'>
                            <div class='d-flex justify-content-between'>
                                <div class='text-black-75 fw-bold small'>Store ID:</div>
                                <div
                                    class='text-black small fw-bold justify-content-end'>{{stockRequestSummary?.destination_outlet_store_id}}</div>
                            </div>
                        </div>
                        <div class='col-md-7'>
                            <div class='d-flex justify-content-between'>
                                <div class='text-black-75 fw-bold small'>Store Address:</div>
                                <div
                                    class='text-black small fw-bold justify-content-end'>{{stockRequestSummary?.destination_outlet_name}}</div>
                            </div>
                        </div>
                    </div>
                    <div class='row mb-3'>
                        <div class='col-md-5'>
                            <div class='d-flex justify-content-between'>
                                <div class='text-black-75 fw-bold small'>Store Name:</div>
                                <div
                                    class='text-black small fw-bold justify-content-end'>{{stockRequestSummary?.destination_outlet_name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </sbpro-card>
            <hr>
            <div class='result-header w-100 mb-2'>Request List</div>
            <div class='col-md-12 table-responsive'>
                <table class="table border rounded my-3 w-100">
                    <thead class="thead-dark">
                        <tr>
                            <th class='small' scope='col'>Category</th>
                            <th class='small' scope='col'>SAP Material Code</th>
                            <th class='small' scope='col'>Brand</th>
                            <th class='small' scope='col'>Item Name</th>
                            <th class='small' scope='col'>Quantity</th>
                        </tr>
                    </thead>
                    <tbody *ngIf='stockRequestSummary?.item_details?.length'>
                        <tr
                            *ngFor='let item of stockRequestSummary?.item_details'>
                            <td class='small'>{{item.category}}</td>
                            <td class='small'>{{item.sap_material_code }}</td>
                            <td class='small'>{{item.brand }}</td>
                            <td class='small'>{{item.item_name }}</td>
                            <td class='small'>{{item.requested_quantity }}</td>
                        </tr>
                    </tbody>
                </table>
                <SW-no-data *ngIf='!stockRequestSummary?.item_details?.length' [height]="224" [message]="errorMessage" [content]="''">
                </SW-no-data>
            </div>
            <div class='row gx-4 align-items-center mt-3'>
                <div class="col-md-6">
                    <div class='row gx-4 align-items-center'>
                        <div class='col-md-4 col-sm-6 col-6 mr-0'>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='row gx-4 align-items-center'>
                        <div class='col-md-4 col-sm-6 col-6 mr-0'>
                            <button class='btn btn-outline-primary w-100' type='submit' (click)="printSummary()">Print
                            </button>
                        </div>
                        <div class='col-md-4 col-sm-6 col-6 mr-0'>
                            <button class='btn btn-outline-primary w-100' (click)="returnToPreviousScreen.emit()"  type='button'>Request More
                            </button>
                        </div>
                        <div class='col-md-4 col-sm-6 col-6 mr-0'>
                            <button class='btn btn-primary w-100' type='button' (click)="onTrackClick()">Track
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

