<h4 class='mb-0 mt-2'>Main Categories</h4>
<hr class='mt-2 mb-4' />
<!-- Knowledge base main category card 1-->
<a class='card card-icon lift lift-sm mb-4' routerLink='/dashboard/knowledge-base/category'>
    <div class='row gx-0'>
        <div class='col-auto card-icon-aside bg-primary'>
            <i-feather class='text-white-50' name='compass'></i-feather>
        </div>
        <div class='col'>
            <div class='card-body py-4'>
                <h5 class='card-title text-primary mb-2'>Dispute Management</h5>
                <p class='card-text mb-1'>Log your disputes and download feedback for all incentive types here.</p>
            </div>
        </div>
    </div>
</a>
