<form [formGroup]="ownStoreSearchForm" (ngSubmit)='onSearch()' class='needs-validation'>
    <div class='my-3'>
        <div class='text-sm'>1. Select your outlet</div>
    </div>
    <div class='row'>
        <div class='mb-3 col-md-4'>
            <label class='small mb-1 dropdown-label' for='DateRange'>Outlet</label>
            <select class='form-select form-select-custom custom-select' id='outlet' formControlName='outlet'
                >
                <option class='custom-select-option' *ngFor='let outlet of outletList' ngbDropdownItem
                    [value]="outlet.outlet_id">
                    {{outlet.outlet_id}}
                </option>
            </select>
        </div>

    </div>
    <div class='my-3'>
        <div class='text-sm'>2. Search Stock Transfer Request.</div>
    </div>
    <div class='row'>
        <div class='mb-3 col-md-10'>
            <div class="input-group input-group-joined input-group-solid">
                <div class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-search">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg></div>
                <input class="form-control" id="requestID" type="search" maxlength="100" placeholder="Search Request ID"
                    formControlName='requestID'
                    [ngClass]="{'is-invalid': ownStoreSearchForm.controls.requestID.invalid && ownStoreSearchForm.controls.requestID.touched}">

            </div>
            <div class='invalid-feedback invalid-msg'
                *ngIf='ownStoreSearchForm.controls.requestID.invalid && ownStoreSearchForm.controls.requestID.errors?.required && ownStoreSearchForm.controls.requestID.touched'>
                Fill all mandatory fields
            </div>
        </div>
        <div class='mb-3 col-md-2'>
            <button class='btn btn-primary col-12' type='submit'>Search </button>
        </div>

    </div>
    <div class='result-header w-100 my-2'>Results</div>
    <div class='row'>
        <div class='mb-1 col-md-4'>
            <label class='small mb-1 dropdown-label' for='DateRange'>Date Range</label>
            <select class='form-select form-select-custom custom-select' id='DateRange' formControlName='dateRange'
                (change)="$event.target.value==-1?dateRangeDrop.open():onDateRangeSelect($event.target.value);$event.target.value!=-1?dateRangeDrop.close():null">
                <option class='custom-select-option' *ngFor='let date of dateRages' ngbDropdownItem [value]="date.id">
                    {{date.value}}
                </option>
            </select>

            <div class="d-inline-block" ngbDropdown #dateRangeDrop="ngbDropdown" [autoClose]="true">

                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                        outsideDays="hidden" [maxDate]="maxDate">
                    </ngb-datepicker>

                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                    </ng-template>
                </div>
            </div>

        </div>

        <div class='mb-3 col-md-4'>
            <label class='small mb-1 dropdown-label' for='DateRange'>Request Status</label>
            <select class='form-select form-select-custom custom-select' id='DateRange' formControlName='status'
                (change)="loadPage(1)">
                <option class='custom-select-option' [ngValue]="null" selected>All</option>
                <option class='custom-select-option' *ngFor='let transferStatus of transferStatus' ngbDropdownItem
                    [value]="transferStatus.name">
                    {{transferStatus.name}}
                </option>
            </select>
        </div>
        <div class='mb-3 col-md-4'>
            <a class="info-icon" (click)="OnOpenInfo(ServiceRequestLegend)">
                <svg class='icon text-black-75 back-arrow mt-3' aria-hidden='true' width='36' height='36'>
                    <use xlink:href='assets/icons/sprite/prisma-icons.symbol.svg#info'></use>
                </svg> </a>

        </div>
    </div>
</form>
<div class="my-1 mb-4">
    <div>
        <div class='col-md-12 table-responsive'>
            <table class="table border rounded w-100">
                <thead class="thead-dark">
                    <tr>
                        <th class='small' scope='col'>Date Created</th>
                        <th class='small' scope='col'>Request ID</th>
                        <th class='small' scope='col'>Request Status</th>
                        <th class='small' scope='col'>Sales Order ID</th>
                        <th class='small' scope='col'>Payment Type</th>
                        <th class='small' scope='col'>Delivery Order</th>
                        <th class='small' scope='col'>Action</th>

                    </tr>
                </thead>
                <tbody *ngIf='stockResults?.length'>
                    <tr *ngFor='let stockItem of stockResults'>
                        <td class='small'>{{stockItem.dateCreated ||'-'}}</td>
                        <td class='small'>{{stockItem.stockOrderRequestId||'-'}}</td>
                        <td class='small'>{{stockItem.stockRequestStatus ||'-'}}</td>
                        <td class='small'>{{stockItem.salesOrderNo ||'-'}}</td>
                        <td class='small'>{{stockItem.payType ||'-'}}</td>
                        <td class='small'>{{stockItem.paymentTermId ||'-'}}</td>
                        <td>
                            <button *ngIf="stockItem?.action" class='btn btn-primary w-100 table-button-height'
                                (click)="onSelectAction(stockItem,stockItem?.action)"
                                type='button'>{{stockItem?.action}}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <SW-no-data *ngIf='!stockResults?.length' [height]="224" [content]="''" [message]="errorMessage">
            </SW-no-data>
        </div>
        <div class="row dataTable-bottom" *ngIf="stockResults?.length">
            <div class="col-md-6 dataTable-info">Showing {{(responseDetails?.number*pageSize) +1}}
                to {{responseDetails?.totalElements<(responseDetails?.number+1) * pageSize
                    ?responseDetails?.totalElements:(responseDetails?.number+1) * pageSize}} of
                    {{responseDetails?.totalElements}} entries </div>
                    <div class='col-md-6 d-flex justify-content-end'>
                        <ngb-pagination (pageChange)='loadPage($event)'
                            [collectionSize]='responseDetails?.totalElements' [maxSize]='3' [pageSize]='pageSize'
                            [(page)]="pageNumber">
                        </ngb-pagination>
                    </div>
            </div>
        </div>
    </div>

    <ng-template #ServiceRequestLegend let-serviceRequestLegend>

        <div class="modal-header">
            <h5 class="modal-title text-primary">Request Status Legend</h5>
          </div>
          <div class='modal-body'>

            <div class='mb-3'>
              <div class='row'>
                <div class="col-md-4">New Request </div>
                <div class="col-md-8">: Stock request raised form SW BackOffice</div>
              </div>
              <div class='row'>
                <div class="col-md-4">SO Created </div>
                <div class="col-md-8">: Sales Order created by dealer.</div>
              </div>
              <div class='row'>
                <div class="col-md-4">SO Rejected </div>
                <div class="col-md-8">: Sales Order cancelled by SW.</div>
              </div>
              <div class='row'>
                <div class="col-md-4">SO Approved </div>
                <div class="col-md-8">: Sales Order approved by SW.</div>
              </div>
              <div class='row'>
                <div class="col-md-4">SO Canceled </div>
                <div class="col-md-8">: Sales Order rejected by Dealer in SW BackOffice.</div>
              </div>
              <div class='row'>
                <div class="col-md-4">SO Accepted </div>
                <div class="col-md-8">: Sales Order accepted by Dealer in SW BackOffice.</div>
              </div>
              <div class='row'>
                <div class="col-md-4">Payment In Progress </div>
                <div class="col-md-8">: Dealer is to perform payment within 24 hours.</div>
              </div>
              <div class='row'>
                <div class="col-md-4">Payment In Completed </div>
                <div class="col-md-8">: Payment received by SW,Delivery Order to be issued.</div>
              </div>
              <div class='row'>
                <div class="col-md-4">DO Issued </div>
                <div class="col-md-8">: Stock to be delivered.</div>
              </div>
              <div class='row'>
                <div class="col-md-4">DO Fulfilled </div>
                <div class="col-md-8">: Delivery Order acknowledge by BCP.</div>
              </div>
            </div>
          </div>

          <div class='modal-footer'>
            <button class='btn btn-primary' type='button' (click)="serviceRequestLegend.close()">
              Close
            </button>
          </div>

    </ng-template>
