<div class='container-xl px-4 mt-4'>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills flex-column" id="cardPillVertical" role="tablist">
                        <li class="nav-item"><a class='nav-link active ms-0'
                                routerLink='/user/change-password'>Profile</a></li>
                        <li class="nav-item"><a class='nav-link' routerLink='/user/reset-password'>Password Management</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div class='row gx-4 mb-3'>
                        <div class='col-xl-12'>
                            <!-- Profile picture card-->
                            <div class='card'>
                                <div class='card-header'>My Profile</div>
                                <div class='card-body text-center'>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <!-- Profile picture image--><img
                                                class='img-account-profile rounded-circle mb-2'
                                                src='../../../../../assets/img/illustrations/profiles/profile-1.png'
                                                alt='' /><!-- Profile picture help block-->
                                        </div>
                                        <div class="col-md-9">
                                            <div class='row mb-3 mt-4'>
                                                <div class='col-md-4'>
                                                    <div class='text-grey-75 small fl-l'> Name
                                                    </div>
                                                    <div class='text-black-75 small fl-l fw-bold'>{{staffId}}</div>
                                        
                                                </div>
                                                <div class='col-md-4'>
                                                    <div class='text-grey-75 small fl-l'> Position
                                                    </div>
                                                    <div class='text-black-75 small fl-l fw-bold'>{{position}}</div>
                        
                                                </div>
                                                <div class='col-md-4'>
                                                    <div class='text-grey-75 small fl-l'> Status
                                                    </div>
                                                    <div class='text-success small fl-l fw-bold'>{{status}}</div>
                        
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class='col-md-4'>
                                                    <div class='text-grey-75 small fl-l'> Login ID
                                                    </div>
                                                    <div class='text-black-75 small fl-l fw-bold'>{{staffId}}</div>
                        
                                                </div>
                                                <div class='col-md-4'>
                                                    <div class='text-grey-75 small fl-l'> Phone
                                                    </div>
                                                    <div class='text-black-75 small fl-l fw-bold'>{{phoneNumber}}</div>
                        
                                                </div>
                                                <div class='col-md-4'>
                                                    <div class='text-grey-75 small fl-l'> Email
                                                    </div>
                                                    <div class='text-black-75 small fl-l fw-bold'>{{email}}</div>
                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                

                          
                                </div>
                            </div>
                         
                        </div>
                    </div>
                    <div class="row gx-4 mb-3">
                        <div class='col-xl-12'>
                               <!-- Outlet Info card-->
                        <div class='card'>
                            <div class='card-header'>
                                <div class='row'>
                                    <div class="mt-4 col-md-6">
                                        Outlet Information
                                    </div>
                                    <div *ngIf="showOutletDropdown" class='col-md-6'>
                                        <label class='small mb-1 dropdown-label' for='DateRange'>Outlet</label>
                                        <select class='form-select form-select-custom custom-select' (change)="onOutletChange()" [(ngModel)]='selectedStore'
                                            >
                                            <option class='custom-select-option'  *ngFor='let outlet of outletList' ngbDropdownItem
                                                [value]="outlet.outlet_id">
                                                {{outlet.outlet_id}}
                                            </option>
                                        </select>
                                    </div>
                            
                                </div>
                            </div>
                            <div class='card-body '>
                                <div class='row mb-3'>
                                    <div class='col-md-12'>
                                        <div class='text-grey-75 small fl-l'> ID
                                        </div>
                                        <div class='text-black-75 small fl-l fw-bold'>{{selectedOutlet.outlet_id}}</div>
                            
                                    </div>
                                </div>
                                <div class='row mb-3'>
                                    <div class='col-md-12'>
                                        <div class='text-grey-75 small fl-l'> Outlet Name
                                        </div>
                                        <div class='text-black-75 small fl-l fw-bold'>{{selectedOutlet.outlet_name}}</div>
                            
                                    </div>
                                </div>
                                <div class='row mb-3'>
                                    <div class='col-md-12'>
                                        <div class='text-grey-75 small fl-l'> Outlet Type
                                        </div>
                                        <div class='text-black-75 small fl-l fw-bold'>{{selectedOutlet.outlet_type_name}}</div>
                            
                                    </div>
                                </div>
                                <div class='row mb-3'>
                                    <div class='col-md-12'>
                                        <div class='text-grey-75 small fl-l'> Status
                                        </div>
                                        <div *ngIf="selectedOutlet.outlet_status == 'Active'" class='text-success small fl-l fw-bold'>{{selectedOutlet.outlet_status}}</div>
                                        <div *ngIf="selectedOutlet.outlet_status != 'Active'" class='text-danger small fl-l fw-bold'>{{selectedOutlet.outlet_status}}</div>
                            
                                    </div>
                                </div>
                                <div class='row mb-3'>
                                    <div class='col-md-12'>
                                        <div class='text-grey-75 small fl-l'> Address
                                        </div>
                                        <div class='text-black-75 small fl-l fw-bold'>{{selectedOutlet.main_address}}</div>
                            
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        </div>
                    </div>
                    <div class="row gx-4">
                        <div class='col-xl-12'>
                        <div class='card'>
                            <div class='card-header'>Dealer Information</div>
                            <div class='card-body text-center'>
                                <div class='row mb-3'>
                                    <div class='col-md-12'>
                                        <div class='text-grey-75 small fl-l'> Dealer Owner Name
                                        </div>
                                        <div class='text-black-75 small fl-l fw-bold'>{{userInformation.name}}</div>
                            
                                    </div>
                                </div>
                                <div class='row mb-3'>
                                    <div class='col-md-12'>
                                        <div class='text-grey-75 small fl-l'> Dealer Owner ID
                                        </div>
                                        <div class='text-black-75 small fl-l fw-bold'>{{selectedOutlet.owner_id}}</div>
                            
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>