@import 'styles/core/variables';

.w-70{
    width: 70% !important;
}
.text-black {
    color: black;
}

.back-arrow {
    color: #333333;
    opacity: 1;
    margin-right: 2rem;
    cursor: pointer;
}

.search-button {
    width: 185px;
    height: 40px;
}

// dropdowns
.form-select-custom {
    line-height: 1 !important;
    padding-top: 25px;
}

.custom-select-option {
    color: #424d52;
}

.custom-select {
    color: $black;
    font-weight: 600;
    margin-left: -2.5px;
}
