.card-body{
    padding: 1rem 1rem !important;
}

.ml-5{
    margin-left: 5px;
}

.bsDetails {
    float: left;
    width: 110px;
    text-overflow: ellipsis;
    // white-space: nowrap;
    overflow: hidden;
}

.product-container {
    height: 8rem;
}
