@import 'styles/core/variables';

.form-select-custom {
    line-height: 1.4 !important;
    padding-top: 30px;
}

.custom-select-option {
    color: #424d52;
}

.custom-select {
    color: $black;
    font-weight: 600;
    margin-left: -2.5px;
}

.invalid-msg {
    display: block;
}
