@import 'styles/core/variables';
.input-h-1 {
    height: 10px;
    width: 150px;
}
.input-h-2 {
    height: 44px;
}

// dropdowns
.form-select-custom {
    line-height: 1.4 !important;
    padding-top: 30px;
}

.custom-select-option {
    color: #424d52;
}

.custom-select {
    color: $black;
    font-weight: 600;
    margin-left: -2.5px;
}

//inputs
.form-control-custom {
    line-height: 1.4 !important;
    padding-top: 30px;
}

.custom-input {
    color: $black;
    font-weight: 600;
    margin-left: -2.5px;
}

.text-black {
    color: $black;
}

.text-align-right {
    text-align: right;
}

.table-button-height {
    height: 26px;
}
