.alert {
    padding: 0.25rem 1rem !important;
    background-color: #c6d6eb;
    margin-bottom: 0rem !important;
}

.alert-btn {
    height: 30px;
    font-size: 13px;
    margin: 3px;
}

.mt-4 {
    margin-top: 0rem !important;
}

@media (max-width: 354px) {
    .btntxt {
        margin-right: 120px !important;
    }
    .fs {
        font-size: 12px !important;
    }
}
