@import 'styles/core/variables';
.search-button-width {
    height: 40px;

    @media (min-width: 500px) {
        width: 40%;
    }

    @media (max-width: 500px) {
        width: 40%;
    }
}

.result-header {
    color: black;
    font-weight: bold;
}

table {
    overflow: auto !important;
    border-spacing: 0;
    border-collapse: separate;
}

// dropdowns
.form-select-custom {
    line-height: 1.4 !important;
    padding-top: 30px;
}

.custom-select-option {
    color: #424d52;
}

.custom-select {
    color: $black;
    font-weight: 600;
    margin-left: -2.5px;
}

//inputs
.form-control-custom {
    line-height: 1.4 !important;
    padding-top: 30px;
}

.custom-input {
    color: $black;
    font-weight: 600;
    margin-left: -2.5px;
}

.text-black {
    color: $black;
}

.text-align-right {
    text-align: right;
}

.table-button-height {
    height: 26px;
}

.btn-outline-black {
    color: $black;
    border-color: $black;
}

.btn-outline-black:hover {
    color: #fff;
    background-color: $black;
    border-color: $black;
}

.info-icon {
    cursor: pointer;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: $gray-100;
}

.custom-day.range,
.custom-day:hover {
    background-color: $blue;
    color: $white;
}

.custom-day.faded {
    background-color: $purple;
}

.hide-dropdown-button {
    transform: translateY(-3rem);
    opacity: 0;
}

.invalid-msg {
    display: block;
}