<fieldset class="border p-2 fieldset-custom mb-3">
    <legend class="float-none w-auto p-2 legend-custom">Special PROMO for you!</legend>
    <div class='d-flex flex-row align-content-start align-content-center'>
        <div class='mb-3 ms-2 me-5'>
            <svg class='icon text-black-75' aria-hidden='true' width='24' height='24'><use xlink:href='assets/icons/sprite/prisma-icons.symbol.svg#bullseye-target'></use></svg>
            <span class='info-label'>You are eligible for this limited Promo stocks</span>
        </div>
        <div class='mb-3'>
            <svg class='icon text-black-75' aria-hidden='true' width='24' height='24'><use xlink:href='assets/icons/sprite/prisma-icons.symbol.svg#info'></use></svg>
            <span class='info-label'>Only <b>ONE</b> promo for <b>ONE</b> order</span>
        </div>
    </div>
</fieldset>
