.fieldset-custom {
    border-radius: 0.35rem;
}

.legend-custom {
    font-size: 14px;
    color: #1046a2;
    font-weight: 700;
}

.info-label {
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
}
