<div class="bg-white" id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container-xl px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-6 mt-5">
                        <div class='d-flex justify-content-around mt-2'>
                            <lottie-player
                                src='../assets/img/error/sudden-maintenance.json'
                                background='transparent' mode='normal' style='width: 240px' loop loop autoplay>
                            </lottie-player>
                        </div>
                        <div class="text-center mt-4">
                            <h3 class='text-dark-blue fw-700'>Sorry!</h3>
                            <p class='text-black fw-500'>We're down for maintenance right now. <br> Please check back soon!</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutError_footer">
        <footer class="footer-admin mt-auto footer-light">
            <div class="container-fluid px-4">
                <div class="row gx-4">
                    <div class="col-md-6 small">Copyright &copy; Your Website 2023</div>
                    <div class="col-md-6 text-md-end small">
                        <a href="javascript:void(0);">Privacy Policy</a>
                        &middot;
                        <a href="javascript:void(0);">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
