@import 'styles/core/variables';

.result-header {
    color: black;
    font-weight: bold;
}

// dropdowns
.form-select-custom {
    line-height: 1.4 !important;
    padding-top: 30px;
}

.custom-select-option {
    color: #424d52;
}

.custom-select {
    color: $black;
    font-weight: 600;
    margin-left: -2.5px;
}

//inputs
.form-control-custom {
    line-height: 1.4 !important;
    padding-top: 30px;
}

.form-control:disabled {
    background-color: transparent;
}

.custom-input {
    color: $black;
    font-weight: 600;
    margin-left: -2.5px;
}

.smaller-button {
    height: 35px;
    @media (min-width: 563px) {
        width: 30%;
    }

    @media (max-width: 563px) {
        width: 50%;
    }
}

.country-input {
    position: relative;
}

.country-icon {
    position: absolute;
    bottom: .8rem;
    right: 1rem;
    transform: rotate(90deg);
}
