@import 'styles/core/variables';

.back-arrow{
    color: #333333;
    opacity: 1;
    margin-right: 2rem;
    cursor: pointer;
}

.text-black {
    color: black;
}

.text-align-right {
    text-align: right;
}

.text-bold-600 {
    font-weight: 600;
}

.result-header {
    color: black;
    font-weight: bold;
}

.no-wrap {
    white-space: nowrap;
}

.address-section {
    height: 14rem;
    border: 2px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 .5rem 0 .5rem;
    margin-bottom: 1rem;

    &--clicked {
        border: 2px solid dodgerblue;
    }
}

.stock-list-item {
    display: flex;
    align-items: center;
    height: 3rem;
    border-bottom: .25px solid lightgrey;
}

.details-label {
    color: #697479;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 500;
}

//inputs
.form-control-custom {
    line-height: 1.4 !important;
    padding-top: 30px;
}

.custom-input {
    color: $black;
    font-weight: 600;
    margin-left: -2.5px;
}

.smaller-button {
    height: 35px;
    @media (min-width: 563px) {
        width: 50%;
    }

    @media (max-width: 563px) {
        width: 100%;
    }
}

.submit-button {
    height: 35px;
    @media (min-width: 563px) {
        width: 15%;
    }

    @media (max-width: 563px) {
        width: 40%;
    }
}

.elipseAddress{
    float: left;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

