.badge {
    width: 100% !important;
    border-radius: 0.20rem;
}

.btn-sub-col {
    float: right;
}

.card-pad {
    padding: 0.35rem 1.35rem !important;
}

.th{
    cursor: pointer;
}

@media (max-width: 425px) {
    .outletTable {
        display: block;
        max-width: 100%;
        overflow: scroll;
    }
}

@media (max-width: 576px) {
    .outletPagination {
        margin-bottom: 10px;
    }
}

.pad-alert{
    padding: 0.55rem 1rem !important;
}

.alertCol{
    color: grey;
}

.fz-10{
    font-size: 10px;
}
.fz-12{
    font-size: 10px;
}
