
<div class='container-xl px-4 mt-4'>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills flex-column" id="cardPillVertical" role="tablist">
                        <li class="nav-item"><a class='nav-link  ms-0'
                                routerLink='/user/change-password'>Profile</a></li>
                        <li class="nav-item"><a class='nav-link active' routerLink='/user/reset-password'>Password Management</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <sbpro-card>
                        <div class='card-header'>People</div>
                        <div class='card-body'>
                            <div class='alert alert-primary pad-alert' role='alert' *ngIf="showAlert">
                                <div class='small alertCol'><span class='text-danger'>Warning!</span> Password Reset Unsuccessful.</div>
                            </div>
                            <div class="row">
                                <div class='col-md-12 mb-3'>
                                    <div class='text-75 small'>
                                        This will resulting specific staff password account will be reset
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-md-6 mb-3'>
                                    <div class='input-group table-search'>
                                        <input class='form-control' type='text' name='searchTerm' placeholder='Search...'
                                            (keyup)="onKey($event)" name="searchField" [(ngModel)]="searchField" [value]='searchField' />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-md-12'>
                                    <table class='table border rounded'>
                                        <thead>
                                            <tr>
                                                <th data-sortable scope='col'>
                                                    <input class='form-check-input' id='checkAccountChanges' type='checkbox'
                                                        (change)="checkAll()" [(ngModel)]='cbAll' />
                                                </th>
                                                <th scope='col' class="th" (click)='sortTable(1)'>Outlet ID
                                                    <i-feather [hidden]='!isDescOutletId' name='chevron-down'></i-feather>
                                                    <i-feather [hidden]='isDescOutletId' name='chevron-up'></i-feather>
                                                </th>
                                                <th scope='col' class="th" (click)='sortTable(1)'>User ID
                                                    <i-feather [hidden]='!isDecsUserId' name='chevron-down'></i-feather>
                                                    <i-feather [hidden]='isDecsUserId' name='chevron-up'></i-feather>
                                                </th>
                                                <th scope='col' class="th" (click)='sortTable(2)'>
                                                    User Name
                                                    <i-feather [hidden]='!isDecsUserName' name='chevron-down'></i-feather>
                                                    <i-feather [hidden]='isDecsUserName' name='chevron-up'></i-feather>
                                                </th>
                                                <th scope='col' class="th" (click)='sortTable(3)'>
                                                    Last Reset Date
                                                    <i-feather [hidden]='!isDecsLogDate' name='chevron-down'></i-feather>
                                                    <i-feather [hidden]='isDecsLogDate' name='chevron-up'></i-feather>
                                                </th>
                                                <th scope='col' class="th" (click)='sortTable(4)'>
                                                    Last Login Date
                                                    <i-feather [hidden]='!isDecsResDate' name='chevron-down'></i-feather>
                                                    <i-feather [hidden]='isDecsResDate' name='chevron-up'></i-feather>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of userList">
                                                <td>
                                                    <input class='form-check-input' id='checkAccountChanges' type='checkbox'
                                                        [value]='item.isSelected' [(ngModel)]="item.isSelected"
                                                        (change)="isAllSelected()" />
                                                </td>
                                                <td>{{item.outlet_id}}</td>
                                                <td>{{item.user_id}}</td>
                                                <td>
                                                    {{item.user_name}}
                                                </td>
                                                <td>{{item.last_reset_date | date:'MMM d, y, h:mm:ss a'}}</td>
                                                <td>{{item.last_login_date | date:'MMM d, y, h:mm:ss a'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-xl-12 col-sm-12 col-xs-12 col-12'>
                                    <button class='btn btn-primary btn-sub-col' type='button' [disabled]='!isCbSelected'
                                        (click)="open(modalConfirmation, { backdrop: 'static' })">
                                        <strong>Reset Password</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </sbpro-card>
                
                    <ng-template #modalConfirmation let-modal>
                        <div class='modal-header'>
                            <h5 class='modal-title'><span class='text-danger'>Alert!</span> Reset Password</h5>
                        </div>
                
                        <div class='modal-body'>
                            <label class='small mb-3'>Are you sure to reset password for selected user ID?</label>
                            <div class='row gx-4'>
                                <div *ngFor="let item of selectedUserList" class='col-lg-6 col-md-6 mb-4'>
                                    <div class='card'>
                                        <div class='card-body card-pad'>
                                            <div class='text-muted small'>{{item.user_id}}</div>
                                            <h6>{{item.user_name}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class='modal-footer'>
                            <button class='btn btn-outline-primary' type='button' (click)="modal.close('Close Click')">
                                Cancel
                            </button>
                            <button class='btn btn-danger' type='button'
                                (click)="resetPassword(modalSuccess, { backdrop: 'static' })">Yes, Reset Password
                            </button>
                        </div>
                    </ng-template>
                
                    <ng-template #modalSuccess let-modal>
                        <div class='modal-header'>
                            <h5 class='modal-title'><span class='text-success'>Successful!</span> Reset Password</h5>
                        </div>
                
                        <div class='modal-body'>
                            <label class='small mb-3'>Password has been successfully reset for:</label>
                            <div class='row gx-4'>
                                <div *ngFor="let item of selectedUserList" class='col-lg-6 col-md-6 mb-4'>
                                    <div class='card'>
                                        <div class='card-body card-pad'>
                                            <div class='text-muted small'>{{item.user_id}}</div>
                                            <h6>{{item.user_name}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class='modal-footer'>
                            <button class='btn btn-primary' type='button' (click)='confirm()'>Continue</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
